<div class="article-add">
 <mat-card>  
       
                <mat-form-field class="">
                    <input matInput [(ngModel)]="articleModel.title" placeholder="Title of Article" value="">
                </mat-form-field>

              
                    <editor [(ngModel)]="articleModel.content" class="v-margin" ></editor>
                
              
                
                    <div> 
                        <a routerLink="../" mat-button> Cancel </a>     
                        <button  mat-button (click)="saveArticle()" > Save </button> 
                    </div>                                                  
                              
</mat-card>
</div>
