
.mr-auto {
    margin-right: auto!important;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.nav-bar{
    margin: -8px -8px 0 -8px;
    display: block;
}

.v-margin{
    margin-top:10px;
    margin-bottom:10px;
}

body{   
    min-height: calc(100vh - 64px);
    background-color: #f9f3f3;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
//.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
//.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
//.material-icons.md-light { color: rgba(255, 255, 255, 1); }
//.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mat-table{    
    border: 1px solid rgba(204, 200, 200, 0.5);
}